• 100% #121212
• 95% #1e1e1e
• 90% #2a2a2a
• 85% #363636
• 80% #414141
• 75% #4d4d4d
• 70% #595959
• 65% #656565
• 60% #717171
• 55% #7d7d7d
• 50% #888888
• 45% #949494
• 40% #a0a0a0
• 35% #acacac
• 30% #b8b8b8
• 25% #c4c4c4
• 20% #d0d0d0
• 15% #dbdbdb
• 10% #e7e7e7
• 5% #f3f3f3
• 0% #ffffff
/* Shades of Gray from 100% to 0% */